body {
  margin: 0;
  padding: 0;
  background: #DDDDDD;
  font-family: sans-serif;
}

.container {
  margin: 10px auto 10px auto;
  max-width: 900px;
  min-height: 90vh;
  background: #EEEEEE;
  position: relative;
  padding-bottom: 2em;
}

header {
  background: #d59450;
  color: #fff;
}

header h1 {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
}

nav {
  text-align: right;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
}

li a:hover {
  color: #fff;
}

footer {
  background: #d59450;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  margin: 0;
  padding: 1em;
  background: #fff;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

h1 {
  background: #d59450;
  margin: 0;
  padding: 0.25em 1em 0.25em 1em;
  color: #fff
}

.box {
  text-align: left;
  display: inline-block;
  margin-left: 350px;
  margin-bottom: 100px;
}

.box label, .box input {
  box-sizing: border-box;
  display: block;
  width: 90%;
  margin: 0.25em auto 0.25em auto;
}

.box-large {
  margin: 20px;
  overflow: auto;
  clear: both;
  background: #ffffff;
}

.box label {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: #fff;
}

.edit {
  color: #fff;
  background-color: green;
  padding: 10px;
  display: block;
  width: 50px;
  text-align: center;
  border-radius: 15px;
}

.delete {
  color: #fff;
  background-color: red;
  padding: 10px;
  display: block;
  width: 50px;
  text-align: center;
  border-radius: 15px;
}

.controls {
  display: inline-block;
}

.controls ul {
  padding-left: 0;
}

h1 a {
  color: #fff;
}

.profile-editor {
  padding-left: 20px;
}

.profile-editor label, .profile-editor input {
  display: inline-block;
  margin: 5px;
}

.profile-editor label {
  width: 100px;
  text-align: right;
}

.profile-editor input {
  width: 200px;
}

.pagination {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}